* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(43, 54, 43);
}

 /* Menu Superior */

.header {
    height: 80px;
    width: 100%;
    background: rgb(39, 39, 39);
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 60px;
}

.header ul {
    float: right;
    margin-right: 20px;
}

.header ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2rem;
    padding: 7px 13px;

}

.header li a:hover {
    text-shadow: 0px 0px 20px rgb(21, 255, 0);
    color: #fff;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.d-flex {
    justify-content: center;
    padding: 20px;
    width: 100%;
}

 /* Grilla */

#grilla {
    padding: 50px 0px 0px 0px;
    display: grid;
    grid-template-areas:
        "nav clientes clientes"
        "nav producto producto"
        "nav producto producto"
        "footer footer footer";

    grid-template-rows: 160px 2fr 75px;
    grid-template-columns: 20% auto 15%;
    row-gap: 10px;
    column-gap: 20px;
    height: 100vh;
    align-items: baseline;
}

.clientes {
    grid-area: clientes;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.clientes a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2rem;
}

.clientes a:hover {
    text-shadow: 0px 0px 20px rgb(21, 255, 0);
    color: #fff;
}

.hola {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2rem;
}

.card {
    list-style: none;
    background: #637a65;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;

}

.atencion {
    background-color: #475850;
    border-radius: 10px;
    padding: 20px 20px 20px;
    display: grid;
    justify-content: space-evenly;
    align-content: space-between;
    width: 450px;
    height: 15vh;
}

.texto-atencion {
    text-decoration: none;
    color: rgb(74, 255, 57);
    font-weight: 700;
    display: flex;
    justify-content: center;
}

#productos {
    grid-area: producto;
}

.contenedor {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gpu {
    width: 18rem;
    border-radius: 10px;
}

.gpu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 10px;
}

.gpu a:hover {
    box-shadow: 0px 0px 15px rgb(135, 255, 79);
    color: #fff;
}


.navegacion {
    background: #475850;
    grid-area: nav;
    border-radius: 10px;
}

.title-nav {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(56, 245, 49);
    font-weight: 900;

}

.hardware {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-weight: 500;
    font-size: 1.2rem;
}

.hardware li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
}

.hardware li a:hover {
    background: #2f4735;
}


.footer {
    background-color: rgb(0, 0, 0);
    grid-area: footer;
    display: grid;
    justify-content: center;
}

.texto-footer {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2rem;
}

 /* Media Queries */


@media (max-width: 952px) {
    .checkbtn {
        display: block;
    }
    .clientes{
        display: grid;
    }
    

    .header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(39, 39, 39);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    

    #check:checked~ul {
        left: 0;
    }

    .slide {
        display: none;
    }
    .contenedor{
        display: none;
    }
    #grilla {
        padding: 50px 0px 0px 0px;
        display: grid;
        grid-template-areas:
            "nav clientes productos"
            "nav productos productos"
            "nav productos productos"
            "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: auto;
        row-gap: 10px;
        column-gap: 20px;
        height: 100vh;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
    }
    .clientes{
        display: grid;
    }
    

    .header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(39, 39, 39);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .header ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    .slide {
        display: none;
    }
    .contenedor{
        display: none;
    }
    #grilla {
        padding: 50px 0px 0px 0px;
        display: grid;
        grid-template-areas:
            "clientes clientes clientes"
            "nav nav nav"
            "nav nav nav"
            "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: auto;
        row-gap: 10px;
        column-gap: 20px;
        height: 100vh;
        justify-content: center;
    }
    
}

/* ubicacion HTML */
.contenedor-ubicacion{
    display: flex;
    flex-direction: column-reverse
}

.footer-gpu {
    background-color: rgb(0, 0, 0);
    grid-area: footer;
    display: grid;
    justify-content: center;
}
.ubicacion{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.containerTablaForm{
    display: grid;
    justify-content: end;
}
.containerTabla{
    display: grid;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
}

.fila{
    border: rgba(23, 201, 6, 0.726) solid 1px;
    border-left: none;
    border-right: none;
    color: #fff;

}


/* Redes HTML */
.h1-redes{
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container-redes{
    display: flex;
    justify-content: center;
}
.redes-text{
    padding: 11px;
}

.redes-text a{
    text-decoration: none;
    color: rgb(16, 190, 45);
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 10px;
}
.redes-text a:hover {
    box-shadow: 0px 0px 15px rgb(135, 255, 79);
    color: #fff;
}


/* Producto HTML */

.container-producto{
    display: grid;
    justify-items: center;
    padding: 80px;
}